* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  width: 80vw;
  background-image:
    /* url(images/bg-pattern-top.svg), */
    url(images/bg-pattern-bottom.svg);
  background-size:
    cover,
    cover;
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    top 50vh left 50vw;
}